body {
    background-color: antiquewhite;
}

.tabs {
    margin: auto;
    width: 60%;
    background-color:aliceblue;
    padding: 30px 60px;
    border-radius: 10px;
}

.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tab {
    width: 80px;
    height: 40px;
    margin: 0 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.tab:nth-child(1){
    background-color: #3bbf3b;
}

.tab:nth-child(2){
    background-color: #e049e6;
}

.tab:nth-child(3){
    background-color: #e632a1;
}

.content:nth-child(1) h3{
    color: #3bbf3b;
}

.content:nth-child(2) h3{
    color: #e049e6;
}

.content:nth-child(3) h3{
    color: #e632a1;
}

.contents {
    margin-top: 80px;
}

.content {
    display: none;
}

.contents .active {
    display: block;
}

.buttons .active {
    background-color: red;
}
