/* #blue {
    background-color: blue;
}

.red {
    background-color: red;
}

p {
    background-color: green;
}

.gold {
    background-color: gold;
} */

.chiki {
    display: flex;
    justify-content: space-between;
}